<div class="container">
  <h3>Messages</h3>
  <div class="table-responsive">
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover"
    >
      <thead>
        <tr>
          <th class="text-center">Date</th>
          <th class="text-center">Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Message</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="messages?.length > 0">
        <tr *ngFor="let row of messages">
          <td class="text-center">{{ row.submitted | date: "medium" }}</td>
          <td class="text-center">{{ row.name }}</td>
          <td class="text-center">{{ row.emailAddress }}</td>
          <td class="text-center">{{ row.message }}</td>
          <td>
            <button (click)="deleteRecord(row._id)" class="btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="messages?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>
