<div class="section">
  <div class="container">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title">Partner Projects</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="./assets/img/partners/av-desc.jpeg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/hc-desc.jpeg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/ht-donation.png" class="img-raised" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <img src="./assets/img/partners/st-desc.jpeg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/ct-logo.jpg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/impact-logo.png" class="img-raised" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-4">
        <img src="./assets/img/partners/rs-logo.jpg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/lb-logo.jpeg" class="img-raised" />
      </div>
      <div class="col-sm-4">
        <img src="./assets/img/partners/cfc-donation.jpg" class="img-raised" />
      </div>
    </div>

    <div class="separator separator-primary"></div>
  </div>
</div>
