<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/landingpage.jpg');"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">One World One Nation</h1>
        <div class="text-center">
          <a
            href="https://www.facebook.com/One-World-One-Nation-110521437288555/"
            class="btn btn-primary btn-icon btn-round"
            target="_blank"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5>
            We aim to sustain the Healed Earth through Love, Common Sense,
            Creativity and Innovation. We aim to foster a community wherein we
            co-exist equally. A Nation with no borders wherein each country is
            interconnected and will foster an international relation of Love,
            Respect, Kindness and Generosity. Everything is geared towards the
            maintenance of the Healed Earth for Endless Generations.
          </h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">One World One Nation Impact</h2>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="./assets/img/page/hl1.jpg" />
        </div>
        <div class="col-lg-6">
          <img src="./assets/img/page/hl2.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="./assets/img/page/hl3.jpg" />
        </div>
        <div class="col-lg-6">
          <img src="./assets/img/page/hl4.jpg" />
        </div>
      </div>
    </div>
    <div class="container">
      <br />
      <div class="title"></div>
      <div class="row justify-content-center">
        <div class="col-12">
          <!-- <ngb-carousel>
            <ng-template ngbSlide>
              <img class="d-block" src="assets/img/bg1.jpg" alt="First slide" />
              <div class="carousel-caption d-none d-md-block">
                <h5>Nature, United States</h5>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img
                class="d-block"
                src="assets/img/bg3.jpg"
                alt="Second slide"
              />
              <div class="carousel-caption d-none d-md-block">
                <h5>Somewhere Beyond, United States</h5>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img class="d-block" src="assets/img/bg4.jpg" alt="Third slide" />
              <div class="carousel-caption d-none d-md-block">
                <h5>Yellowstone National Park, United States</h5>
              </div>
            </ng-template>
          </ngb-carousel> -->
          <ngb-carousel
            #carousel
            [interval]="1500"
            [pauseOnHover]="pauseOnHover"
            (slide)="onSlide($event)"
          >
            <ng-template ngbSlide *ngFor="let img of images; index as i">
              <div class="carousel-caption">
                <!-- <h3>My slide {{ i + 1 }} title</h3> -->
              </div>
              <a
                href="./assets/img/page/{{ img }}.jpg"
                target="_blank"
                rel="nofollow noopener noreferrer"
              >
                <div class="picsum-img-wrapper">
                  <img
                    src="./assets/img/page/{{ img }}.jpg"
                    alt="My image {{ i + 1 }} description"
                  />
                </div>
              </a>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-4">
          <img src="./assets/img/page/philippines.jpg" />
        </div>
        <div class="col-md-4"><img src="./assets/img/page/usa.jpg" /></div>
        <div class="col-md-4"><img src="./assets/img/page/mexico.jpg" /></div>
      </div>
    </div>

    <div class="separator separator-primary"></div>
  </div>

  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Time To Act</h2>
      <div class="team ml-auto mr-auto">
        <div class="row text-center ml-auto mr-auto">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Superhero Masks</h4>
                  <p class="card-text">
                    We're giving away free masks to help our One World One
                    Nation community fight against COVID-19.
                  </p>
                  <a href="/request" class="btn btn-primary">Request</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Videos</h4>
                  <p class="card-text">
                    Watch educational videos on how you can protect yourself and
                    your loved ones from the current pandemic.
                  </p>
                  <a href="/videos" class="btn btn-primary">Watch</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Superhero Volunteers</h4>
                  <p class="card-text">
                    You don't need money to make an impact, we need the manpower
                    and your skills
                  </p>
                  <a href="https://forms.gle/XYvavoSjsxLQMcpB9" target="_blank"
                    ><button class="btn btn-primary">Volunteer</button></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Farm Heroes, The Giving Farms</h4>
                  <p class="card-text">
                    Partners with landowners and farmers in planting to feed the
                    community for free by providing them with seedlings and
                    machinery to be able to have a productive harvest with the
                    use of organic method.
                  </p>
                  <a href="" class="btn btn-block">Coming Soon</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Backyard Heroes</h4>
                  <p class="card-text">
                    Encourages the local communities to plant within their
                    backyards by providing them with seedlings and soil through
                    organic method. The community needs to provide the plant
                    containers using recyclable materials.
                  </p>
                  <a href="" class="btn btn-block">Coming Soon</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-primary"></div>
    </div>
  </div>

  <partners></partners>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-5 ml-auto mr-auto">
          <h2 class="title">Want to donate?</h2>
          <p>
            We are giving free masks all over the world.If you want to support
            us, you can send it through zelle (818-450-4074) or Venmo
            @sirach-fortuna. If you just want to drop a message, feel free to do
            so below!
            <br />
            <br />
          </p>
          <form #messageForm="ngForm" (ngSubmit)="onSubmit(messageForm)">
            <div class="row">
              <div>
                <div
                  class="input-group input-lg"
                  [ngClass]="{ 'input-group-focus': focus === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Full Name"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    ngModel
                    name="name"
                  />
                </div>
                <div
                  class="input-group input-lg"
                  [ngClass]="{ 'input-group-focus': focus1 === true }"
                >
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    (focus)="focus1 = true"
                    (blur)="focus1 = false"
                    ngModel
                    name="emailAddress"
                  />
                </div>
                <div class="textarea-container">
                  <textarea
                    class="form-control"
                    name="name"
                    rows="4"
                    cols="80"
                    placeholder="Type a message..."
                    ngModel
                    name="message"
                  ></textarea>
                </div>
                <div class="send-button">
                  <button
                    class="btn btn-primary btn-round btn-block btn-lg"
                    type="submit"
                  >
                    Send Message
                  </button>
                </div>
                <div>
                  <p *ngIf="success == 1" class="text-success">
                    We have successfully received the request! We'll get back to
                    you soon
                  </p>
                  <p *ngIf="success == 2" class="text-danger">
                    Something went wrong. All fields must be filled. Please try
                    again.
                  </p>
                  <p *ngIf="success == 3" class="text-info">
                    We are submitting your message, please wait.
                  </p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-5 ml-auto mr-auto">
          <div class="info info-horizontal">
            <div>
              <h4 class="info-title">Give us a ring</h4>
              <p>
                Sirach Fortuna<br />
                (888) 9-01WORLD
                <br />
                oneworldonenation08@gmail.com <br />
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div>
              <h4 class="info-title">Feedback on our products</h4>
              <a
                href="https://docs.google.com/forms/d/10246xrUHxMdixYehDsWqjcc6fskDBXPNjdykmJtLmRQ/viewform?ts=5ed1e63e"
                target="_blank"
              >
                <p>Better Boost Concentrate</p>
              </a>
              <a
                href="https://docs.google.com/forms/d/1Rau4_hrnYzkzqz41OyFagcuTfU0EfNR-OtW3EZ-nz64/viewform?ts=5ed48641"
                target="_blank"
              >
                <p>Face Mask</p>
              </a>
            </div>
          </div>
          <div class="info info-horizontal mt-5">
            <div>
              <h4 class="info-title">Visit our social channels</h4>
              <a
                href="https://www.facebook.com/One-World-One-Nation-110521437288555/"
                target="_blank"
              >
                <p>Facebook</p>
              </a>
              <a
                href="https://www.youtube.com/channel/UC3H5SPMnGy74QgRiK1deE6g"
                target="_blank"
              >
                <p>Youtube</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default"></footer>
</div>
