<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="/index"
        ><span class="arrows-1_minimal-left">Back</span></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#example-navbar-primary"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <div class="team ml-auto mr-auto">
    <div class="row text-center ml-auto mr-auto">
      <div class="col-md-4">
        <div class="iframe-container">
          <h2 class="text-center">Nutrition</h2>
          <iframe
            height="315"
            src="https://www.youtube.com/embed/xxE4bsF_5cg"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="col-md-4">
        <h2 class="text-center">Masks</h2>
        <div class="iframe-container">
          <iframe
            height="315"
            src="https://www.youtube.com/embed/AkxYG1Myw04"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      <div class="col-md-4">
        <h2 class="text-center">Business</h2>
        <div class="iframe-container">
          <iframe
            height="315"
            src="https://www.youtube.com/embed/t2YAoWf-c48"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
