<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url('assets/img/landingpage.jpg');"
    ></div>
    <div class="container">
      <div class="content-center">
        <h1 class="title">One World One Nation</h1>
        <div class="text-center">
          <a
            href="https://www.facebook.com/kura.fortuna.7"
            class="btn btn-primary btn-icon btn-round"
          >
            <i class="fab fa-facebook-square"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Who we are?</h2>
          <h5>
            We aim to sustain the Healed Earth through Love, Common Sense,
            Creativity and Innovation. We aim to foster a community wherein we
            co-exist equally. A Nation with no borders wherein each country is
            interconnected and will foster an international relation of Love,
            Respect, Kindness and Generosity. Everything is geared towards the
            maintenance of the Healed Earth for Endless Generations.
          </h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">One World One Nation Impact</h2>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <img src="./assets/img/don5.JPG" class="img-raised" />
        </div>
        <div class="col-sm-4">
          <img src="./assets/img/don4.JPG" class="img-raised" />
        </div>
        <div class="col-sm-4">
          <img src="./assets/img/don3.JPG" class="img-raised" />
        </div>
        <div class="col-sm-4">
          <img src="./assets/img/don1.JPG" class="img-raised" />
        </div>
        <div class="col-sm-4">
          <img src="./assets/img/don2.JPG" class="img-raised" />
        </div>
        <div class="col-sm-4">
          <img src="./assets/img/don6.JPG" class="img-raised" />
        </div>
      </div>
      <div class="separator separator-primary"></div>
    </div>
  </div>

  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title">Time To Act</h2>
      <div class="team ml-auto mr-auto">
        <div class="row text-center ml-auto mr-auto">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Free Masks</h4>
                  <p class="card-text">
                    We're giving away free masks to help our One World One
                    Nation community fight against COVID-19.
                  </p>
                  <a href="/request" class="btn btn-primary">Request</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Videos</h4>
                  <p class="card-text">
                    Watch educational videos on how you can protect yourself and
                    your loved ones from the current pandemic.
                  </p>
                  <a href="/videos" class="btn btn-primary">Watch</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="team-player">
              <div class="card" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title">Mask Swap</h4>
                  <p class="card-text">
                    A mask swapping app that lets you swap/trade masks with
                    people all over the globe.
                  </p>
                  <button class="btn btn-secondary">Coming soon</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-contact-us text-center">
    <div class="container">
      <h2 class="title">Want to donate?</h2>
      <div class="row">
        <p class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          We are giving free masks all over the world.If you want to support us,
          you can send it through zelle (818-450-4074) or Venmo @sirach-fortuna.
          Fill up the form so we can acknowledge your contributions!
        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons users_circle-08"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              (focus)="focus = true"
              (blur)="focus = false"
            />
          </div>
          <div
            class="input-group input-lg"
            [ngClass]="{ 'input-group-focus': focus1 === true }"
          >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="now-ui-icons ui-1_email-85"></i>
              </span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              (focus)="focus1 = true"
              (blur)="focus1 = false"
            />
          </div>
          <div class="textarea-container">
            <textarea
              class="form-control"
              name="name"
              rows="4"
              cols="80"
              placeholder="Type a message..."
            ></textarea>
          </div>
          <div class="send-button">
            <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg"
              >Send Message</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default"></footer>
</div>
